/** @format */

::-webkit-scrollbar {
  width: 0.3vw;
  height: 0.3vw;
  background: transparent;
}

::-webkit-scrollbar-track {
  margin: 0.2vw;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background-color: darkgray;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:active {
  background-color: orange;
  border-radius: 100vw;
}

.spinner {
  margin: auto;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #12006d;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
